.header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.04) ;
    padding: 5px 0;
}

.header-wap{
    align-items: center;
}

.header-logo__link{
    display: block;
    width: 70px;
    height: 70px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50% ;
    text-decoration: none;
    text-align: center;
}

.header-logo__link:hover path{
    fill: #f65e39;
}

.header-search{
    position: relative;
    display: flex;
    height: 51px;
    max-width: 600px;
    margin-left: 15px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

} 

.header-search-icon{
    font-size: 1.4rem;
    margin-left: 16px;
}

.header-search__input{
    margin-left: 10px;
    width: 250px;
    height: 100%;
    padding: 16px 7px;
    outline: none;
    border: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}



/* Header search history */

.header-search--history{
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    right: 0;
    background-color: var(--While-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transform-origin: top center ;
    animation: fadeIn linear 0.5s;
    z-index: 1;
}

.header-search__input:focus~.header-search--history{
    display: block;
}

.header-search--history__heading{
    display: block;
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 20px;
}

.header-search--history__boby{
    display: flex;
}

.header-search--history__boby--location{
    display: block;
    width: 48px;
    height: 48px;
    background-color: #d8d6d6;
    border-radius: 6px;
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 50px;
    text-align: center;
}

.header-search--history__boby--info{
    margin-left: 16px;
    color: var(--primary-color);
}

.header-search--history__boby--info-name{
    display: block;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 500;
}

.header-search--history__boby--info-amount{
    display: block;
    font-size: 1.3rem;
    margin-top: 6px;
}

.header-search__day{
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    margin: 0 20px;
    cursor: pointer;
}

.header-search__day::before{
    content: "";
    position: absolute;
    left: -25px;
    top: 7px;
    height: 36px;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.header-search__day--icon{
    font-size: 1.4rem;
    margin-right: 12px;
}

.header-search__day--text{
    margin: 0;
    font-size: 1.2rem;
    line-height: 50px;
    width: 64px;
}

.header-search__day--box{
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    right: 173px;
}

.header-search__day--input{
    font-size: 1.4rem;
    width: 150px;
    height:30px
}

/* Amoun people */


.header-search__amount{
    display: flex;
    position: relative;
    margin: 0 16px;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.header-search__amount::before{
    content: "";
    position: absolute;
    left: -25px;
    top: 7px;
    height: 36px;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.header-search__amount--icon{
    line-height: 50px;
    font-size: 1.4rem;
    margin-right: 12px;
}

.header-search__amount--text{
    padding: 19px 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    width: 60;
}

.header-search__amount-people{
    display: none;
    position: absolute;
    max-width: 320px;
    top: calc(100% + 7px);
    right: 0;
    background-color: var(--While-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-radius: 3px;
    z-index: 1;
}

.header-search__amount-people::before{
    content: "";
    display: block;
    width: 43%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 19%;
    background-color: transparent;
}

.amount-people__list{
    padding-left: 0;
    list-style: none;
}

.amount-people__item{
    margin-top: 16px;
    width: 294px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.amount-people__item--lever{
    text-align: left;
}

.amount-people__item--lever--text{
    display: block;
    margin: 0;
    font-size: 1.6rem;
    color: var(--text-color);
}

.amount-people__item--lever--des{
    margin: 5px 0 0 0;
    color: #555555;
    font-size: 1.2rem;
}

.amount-people__item--wap{
    display: flex;
    width: 140px;
}

.amount-people__item--icon-minus {
    display: block;
    background-color: #f5f7fa;
    width: 40px;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    opacity: 0.7;
}

.amount-people__item--icon-minus.active {
    opacity: 1;
}

.amount-people__item--icon-minus.active:hover{
    color: var(--primary-color);
}

.amount-people__item--amount{
    height: 40px;
    width: 60px;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    outline: none;
}

.amount-people__item--icon-plus {
    display: block;
    background-color: #f5f7fa;
    width: 40px;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    opacity: 0.7;
}

.amount-people__item--icon-plus:hover{
    color: var(--primary-color);
}

.amount-people__confirm{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 500;
}

.amount-people__confirm-delete{
    color: var(--text-color);
    text-decoration: none;
}

.amount-people__confirm-appky{
    color: var(--primary-color);
    text-decoration: none;
}


.header-search__start{
    text-decoration: none;
    margin-right: 6px;
    width: 57px;
    height: 36px;
    text-align: center;
    background-color: #555;
    border-radius: 5px;
}

.header-search__start--icon{
    font-size: 1.4rem;
    color: var(--While-color);
    line-height: 36px;
}

/* Mobile bar */

.header-navbar{
    display: flex;
    margin-left: auto;
    z-index: 1;
}

.header-navbar__list{
    display: flex;
    margin: 0;
    list-style: none;
    padding-left: 0;
    align-items: center;
}

.header-navbar__item--link{
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    padding: 5px 10px;
}

.header-navbar__item--link-ative::before{
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    right: 3px;
    top: 1px;
    border-radius: 50%;
    background-color: #fb9236;
}

.header-navbar__item--link:hover{
    color: var(--primary-color);
}

.header--navbar__pointer{
    position: relative;
    display: flex;
    align-items: center;
    height: 34px;
    background-color: #f6f6f6;
    text-align: right;
    border-radius: 20px;
    cursor: pointer;
}

.header--navbar__pointer--img{
    width: 24px;
    height: 24px;
    margin: 0 6px;
}

.header--navbar__pointer--text{
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 34px;
    font-weight: 500;
}

.header--navbar__pointer--icon{
    flex-grow: 1;
    font-size: 1.4rem;
    margin:0 12px 0 6px;
}

/* Pointer */

.pointer{
    display: none;
    width: 470px;
    justify-content: space-between;
    padding: 8px 16px;
    position: absolute;
    top: calc(100% + 16px);
    right: 0;
    background-color:var(--While-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-60%);
    animation: fadeIn linear 0.5s;
    transition: transform linear 0.5s;
}

.pointer::after{
    content: "";
    position: absolute;
    top: -17px;
    right: 0px;
    display: block;
    width: 95px;
    height: 20px;
    background-color: transparent;
}

.pointer::before{
    content: "";
    top: -26px;
    right: 8px;
    position: absolute;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--While-color) transparent;
}

.pointer__lis--language{
    list-style: none;
    padding-left: 0;
    width: 50%;
}

.pointer__item--language{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 8px;
    transition: all 0.3s;
}

.pointer__item--language:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.pointer__lis--language--img{
    width: 16px;
    margin-right: 10px;
}

.pointer__item--language.active .pointer__lis--language--check{
    display: block;
}

.pointer__lis--language--check{
    display: none;
    margin-left: 12px;
}

.pointer__lis--money{
    list-style: none;
    position: relative;
    padding-left: 0;
    width: 48%;
}

.pointer__lis--money::before{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.38);
    margin-left: -8px;
    top: 0;
    bottom: 0;
}

.pointer__item--money{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 8px 0;
    margin-bottom: 8px;
    text-align: left;
    transition: all 0.3s;
}

.pointer__item--money:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.pointer__item--money--unit{
    margin-right: 16px;
    font-weight: 500;
}

.pointer__item--money.active i{
    display: block;
}

.pointer__item--money--icon{
    display:none;
    margin-left: 12px;
}

/* Slider */


.container-slider{
    position: relative;
    margin: 42px 0;
}

.container-slider__link{
    max-width: 100%;
}

.container-slider__img{
    display:none;
    border-style: none;
    max-width: 100%;
    height: auto;
    min-height: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.container-slider__img.active{
    display: block;
    transform-origin: -50% -50% ;
    animation: fadeIn ease 0.5s;
}

.container-slider__input{
    position: absolute;
    left: 48%;
    bottom:10px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid var(--While-color);
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    background-color: var(--primary-color);
    content: '';
    display: inline-block;
    visibility: visible;
}
